#header{
    margin: 0 0 2rem 3.5rem;
    align-self: flex-start;
}

#header h1{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 3rem;
    margin: 2rem 0;
    color: #778899;
}

#search-container{
    display: flex;
    margin: 0.5rem 0;
}

#search-input-container{
    display: flex;
    background-color: #FFFFFF;
    width: 25.5rem;
    align-items: center;
    border: 2px solid #5692CD;
    border-radius: 5px;
}

#input-icon-wrapper{
    width: 2.5rem;
    text-align: center;
}

#input-icon-wrapper i{
    padding: 0 0.5rem;
    font-size: 1.4em;
    color: #778899;
}

#search-input{
    padding: 0.5rem 0.5rem 0.5rem 0;
    font-size: 1em;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    color: #778899;
}

#search-button-wrapper{
    height: calc(100% + 4px);
    width: 3rem;
}

#search-button-wrapper button{
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    border: none;
    font-size: 1em;
    background-color: #5692CD;
    border-radius: 0 5px 5px 0;
    outline: 0;
    text-transform: uppercase;
}

#input-container{
    width: 15rem;
    height: 2.5rem;
    margin-left: 1.5rem;
}

select{
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    align-items: center;
    border: 2px solid #5692CD;
    border-radius: 5px;
    padding: 0.5rem 0.2rem;
    font-size: 1em;
    color: #778899;
    outline: none;
}

a.btn {
    background: #0096a0;
    border-radius: 4px;
    box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
    color: #ffffff;
    display: inline-block;
    padding: 6px 30px 8px;
    position: relative;
    text-decoration: none;
    transition: all 0.1s 0s ease-out;
    font-family: var(--text-font);
}

.no-touch a.btn:hover {
    background: #00a2ad;
    box-shadow: 0px 8px 2px 0 rgba(0,0,0,0.075);
    transform: translateY(-2px);
    transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active, a.btn:active {
    background: #008a93;
    box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
    transform: translate3d(0,1px,0);
    transition: all 0.025s 0s ease-out;
}

div.models-container {
    margin: 0 auto 6rem auto;
    max-width: 100%;
    text-align: center;
}

div.model{
    background: #2c2c2c;
    display: inline-block;
    margin: 8px;
    max-width: 300px;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    width: 300px;
    z-index: 1;
}

.model-image{
    width: 300px;
    height: 225px;
    object-fit: cover;
}

div.model .model-image-wrapper{
    background: rgba(0,0,0,0.1);
    height: 0;
    padding-bottom: 75%;
}

div.model div.model-title{
    background: #2c2c2c;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
    color: #ffffff;
}

div.model div.model-title a.toggle-info {
    border-radius: 32px;
    height: 32px;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 5px;
    width: 32px;
}

div.model div.model-title a.toggle-info span {
    background: #2c2c2c;
    display: block;
    height: 2px;
    position: absolute;
    top: 14px;
    transition: all 0.15s 0s ease-out;
    width: 12px;
}

div.model div.model-title a.toggle-info span.left {
    right: 14px;
    transform: rotate(45deg);
}

div.model div.model-title a.toggle-info span.right {
    left: 14px;
    transform: rotate(-45deg);
}

div.model div.model-title h2 {
    font-size: 1.4em;
    font-weight: 700;
    font-family: var(--secondary-font);
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
}

div.model div.model-description{
    padding: 0 15px 10px;
    position: relative;
    font-size: 0.9em;
    font-family: var(--text-font);
    color: #ffffff;
}

div.model div.model-actions{
    box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
    padding: 10px 15px 20px;
    text-align: center;
}

div.model div.model-flap{
    background: #2c2c2c;
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
}

div.model div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
}

div.model div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
}

div.models-container.showing div.model{
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
}

.no-touch div.models-container.showing div.model:hover {
    opacity: 0.94;
    transform: scale(0.92);
}

div.model.show {
    opacity: 1 !important;
    transform: scale(1) !important;
}

div.model.show div.model-title a.toggle-info {
    background: #ff6666 !important;
}

div.model.show div.model-title a.toggle-info span {
    top: 15px;
}

div.model.show div.model-title a.toggle-info span.left {
    right: 10px;
}

div.model.show div.model-title a.toggle-info span.right {
    left: 10px;
}

div.model.show div.model-flap{
    background: #2c2c2c;
    transform: rotateX(0deg);
}

div.model.show div.flap1 {
    transition: all 0.3s 0s ease-out;
}

div.model.show div.flap2 {
    transition: all 0.3s 0.2s ease-out;
}