@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Metrophobic&family=Allerta&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

* {
    margin: 0;
    padding: 0;
}

:root{
    --primary-font: 'Allerta', sans-serif;
    --secondary-font: 'Metrophobic', sans-serif;
    --text-font: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: whitesmoke;
}

h1{
    font-family: var(--primary-font);
}

p{
    font-family: var(--text-font);
}

footer{
    background-color: #3f6e9c;
    padding: 2rem 6rem;
}

#footer-content{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#logo-footer-wrapper{
    flex: 1;
    max-width: 25%;
    justify-content: center;
    height: 7rem;
    padding: 2rem 0;
}

#logo-footer-wrapper img{
    height: 100%;
    display: block;
    margin: 0 auto;
}

#footer-information{
    flex: 1;
    max-width: 50%;
    padding: 0.5rem;
}

#footer-information h3{
    font-family: var(--secondary-font);
}

#footer-information h3:nth-child(2){
    margin-top: 1rem;
}

#footer-information a{
    text-decoration: none;
    color: #FFFFFF;
}

#footer-information a:hover{
    text-decoration: underline #FFFFFF;
}

#footer-information p{
    font-family: var(--text-font);
    color: #FFFFFF;
}

.footer-navigation-link-wrapper{
    width: 50%;
    float: left;
    margin: 1.2rem 0;
}

#footer-section-navigation{
    flex: 1;
    max-width: 25%;
}

#footer-section-navigation a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Metrophobic', sans-serif;
    font-weight: normal;
    width: 100%;
}

#footer-section-navigation a:hover{
    text-decoration: underline#FFFFFF;
}

#footer-copyright{
    width: 100%;
    text-align: center;
    margin-bottom: 0.8rem;
}

#footer-copyright p{
    font-family: var(--text-font);
    color: #FFFFFF;
}




nav{
    height: 4rem;
    width: 100%;
    background-color: #5692CD;
}

#menu{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#logo-wrapper{
    height: 2.2rem;
    margin: 0 3.5rem;
}

#logo-wrapper img{
    height: 100%;
}

#right-div{
    display: flex;
    align-items: center;
    right: 3.5rem;
    position: absolute;
}

#menu-links-wrapper{
    height: 100%;
}

#menu-links-wrapper ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 100%;
}

#menu-links-wrapper a{
    font-size: 1.1rem;
    font-family: var(--secondary-font);
    color: #FFFFFF;
    margin: auto 1.5rem;
    line-height: 100%;
    text-decoration: none;
}

#menu-links-wrapper a:hover{
    text-decoration: underline 1px solid #FFFFFF;
}

#user-wrapper{
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

#user-profile-picture-wrapper{
    border: solid 1px #778899;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    background-color: #cccccc;
    object-fit: cover;
}

#user-profile-picture-wrapper img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

#user-information-container{
    margin: 0 0.4rem;
}

#user-information-container h3{
    font-size: 1.1rem;
}

#user-information-container a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: normal;
    line-height: 1;
    font-family: var(--secondary-font);
}

#user-information-container a:hover{
    text-decoration: underline solid 1px #FFFFFF;
}

#user-arrow-container i{
    color: #FFFFFF;
    font-size: 1.5em;
}

#user-arrow-container{
    position: relative;
}

#dropdown-content{
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
    right: 0px;
    border-radius: 2px;
}

#dropdown-content.active{
    display: block;
}

.dropdown-action-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    cursor: pointer;
}

.dropdown-action-wrapper:hover{
    background-color: #e9e9e9;
}

.dropdown-action-wrapper span{
    font-size: 1.2em;
    font-family: var(--text-font);
    color: #778899;
}

.dropdown-action-wrapper:nth-child(2) span{
    color: red;
}