@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Metrophobic&family=Allerta&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

* {
    margin: 0;
    padding: 0;
}

:root{
    --primary-font: 'Allerta', sans-serif;
    --secondary-font: 'Metrophobic', sans-serif;
    --text-font: 'Roboto', sans-serif;
}

body{
    background-color: whitesmoke;
}


