body{
    display: flex;
    overflow: hidden;
}

#left-side-wrapper{
    display: flex;
    background-color: #FFFFFF;
    height: 100vh;
    width: 60%;
    justify-content: center;
    align-items: center;
}

#left-side{
    width: 25rem;
}

#left-side h1{
    color: #5692CD
}

h1{
    font-size: 2.8em;
    font-family: var(--primary-font);
    font-weight: 600;
    text-align: center;
    cursor: default;
}

#signin-icon-wrapper{
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

#signin-icon-wrapper a:hover{
    cursor: default;
}

#signin-icon-wrapper i{
    color: #778899;
    font-size: 3.5em;
    margin: 0.8rem;
}

#signin-icon-wrapper i:hover{
    color: #a3aeba;
    cursor: pointer;
}

#left-side p{
    font-family: var(--text-font);
    text-align: center;
    color: #778899;
    font-size: 1.2rem;
    cursor: default;
}

#left-side a{
    font-family: var(--text-font);
    text-align: center;
    color: #778899;
    font-size: 1.2rem;
    text-align: left;
    width: unset;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.input-container{
    display: flex;
    background-color: #E5EBF3;
    margin: 0.5rem 0;
    width: 100%;
}

.input-icon-wrapper{
    width: 2.5rem;
    text-align: center;
}

.input-icon-wrapper i{
    padding: 1rem 0;
    font-size: 1.2rem;
    color: #778899;
}

input{
    padding: 0.5rem 0.5rem 0.5rem 0;
    font-size: 1.2em;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
}

form button{
    width: 10rem;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.5rem;
    margin: 1.5rem auto;
    border: 0;
    border-radius: 5rem;
    background-color: #5692CD;
    color: #FFFFFF;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1.2rem;
    outline: none;
}

form button:hover{
    background-color: #76a9db;
}

#right-side-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #5692CD;
    height: 100vh;
    width: 40%;
    justify-content: center;
    align-items: center;
}

#right-side{
    width: 20rem;
}

#right-side h1{
    color: #FFFFFF;
}

#right-side p{
    font-family: var(--text-font);
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1.5rem;
    color: #FFFFFF;
    cursor: default;
}

#right-side a{
    color: #FFFFFF;
}

#forgot-password-background{
    background-color: #000000;
    opacity: 0.7;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#forgot-password-container{
    background-color: whitesmoke;
    width: 40rem;
    height: 32rem;
    border-radius: 10px;
}

