#content-wrapper{
    display: flex;
    height: calc(100% - 4rem);
}

.window-left{
    width: 16rem;
    height: 100%;
    z-index: 10;
    border-right: solid 1px #778899;
}

#pallete-wrapper h3{
    width: calc(100% - 1rem);
    padding: 0.3rem 0.5rem;
    font-family: var(--secondary-font);
    color: #FFFFFF;
    background-color: #728191;
    font-size: 1em;
}

.palette{
    display: flex;
    width: 100%;
    height: 7rem;
}

.category{
    width: calc(50% - 1rem);
    padding: 0.8rem;
    overflow: auto;
    border-right: solid 1px #778899;
}

.c-components{
    width: calc(50% - 1rem);
    padding: 0.8rem;
    overflow: auto;
}

ul{
    list-style-type: none;
}

.pallete-button, .component-button, .page-select{
    background-color: transparent;
    width: 100%;
    height: 1.5rem;
    text-align: left;
    outline: none;
    border: none;
    padding: 0 0.2rem;
    font-family: var(--text-font);
    font-size: 0.9em;
}

#pages-wrapper h3{
    width: calc(100% - 1rem);
    padding: 0.3rem 0.5rem;
    font-family: var(--secondary-font);
    color: #FFFFFF;
    background-color: #728191;
    font-size: 1em;
}

#pages-wrapper{
    position: relative;
}

#pages-wrapper i{
    position: absolute;
    top: 0;
    right: 0.3rem;
    font-size: 1.2em;
    line-height: 1.849rem;
    width: 1.4rem;
    text-align: center;
    color: #FFFFFF;
    transition: font-size 0.1s;
}

#pages-wrapper i:hover{
    cursor: pointer;
    font-size: 1.4rem;
}

.pages{
    width: calc(100% - 1.6rem);
    height: 7rem;
    overflow: auto;
    padding: 0.8rem;
}

.page-select:hover{
    background-color: #d6d6d6;
}

#components-wrapper{
    height: calc(100% - 22.8rem);
}

#components-wrapper h3{
    width: calc(100% - 1rem);
    padding: 0.3rem 0.5rem;
    font-family: var(--secondary-font);
    color: #FFFFFF;
    background-color: #728191;
    font-size: 1em;
}

.components{
    width: calc(100% - 1.6rem);
    overflow: auto;
    padding: 0.8rem;
    height: 100%;
}

.components-list{
    height: 100%;
    margin: unset;
}

.component{
    font-size: 0.9em;
    font-family: var(--text-font);
    padding: 0.3rem 0;
}

.component:hover{
    background-color: #d6d6d6;
}

dl{
    margin-left: 2rem;
}

.window-center{
    width: calc(100% - 32rem);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

iframe{
    border: none;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

#delete-container{
    position: absolute;
    /*right: -3rem*/
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #2c2c2C;
    border-radius: 2.5rem;
    z-index: 50;
}

#delete-container i{
    font-size: 1.7rem;
    color: #FFFFFF;
}

/*
elemento:hover #delete-container{
    right: 1.5rem;
}
*/





.window-right{
    width: 16rem;
    height: 100%;
    z-index: 10;
    border-left: solid 1px #778899;
    overflow: auto;
}

.component-ID{
    display: none;   
}

.component-title{
    width: calc(100% - 1rem);
    padding: 0.3rem 0.5rem;
    font-family: var(--secondary-font);
    color: #FFFFFF;
    background-color: #728191;
    font-size: 1.2em;
}

.property-title{
    font-family: var(--secondary-font);
    text-align: center;
    color: #2c2c2c;
    font-weight: bold;
    margin: 0.8rem auto 0 auto;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.propertyEdit{
    padding: 0.8rem;
}

.propertyEdit li{
    width: 100%;
    border-bottom: 1px solid #728191;
}

.property-name{
    margin: 0.2rem 0;
    color: #728191;
    font-weight: bold;
    font-size: 0.9em;
    font-family: var(--secondary-font);
    line-height: 100%;
    text-transform: capitalize;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

.remove-property{
    position: absolute;
    right: 0;
    top: calc(50% - 7px);
    font-size: 1.5em;
    color: #2c2c2c;
}

.remove-property:hover{
    color: red;
    cursor: pointer;
}

.property-content{
    height: 1.4rem;
    margin: 0.5rem 0 0.8rem 0;
    padding: 0 0.2rem;
    font-size: 0.9em;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    font-family: var(--text-font);
}

.property-content:hover{
    outline: 1px #8f8f8f solid;
}

.property-content:focus{
    text-decoration: underline 2px #728191 dashed;
    color: blue;
    box-sizing: border-box;
    outline: 1px #724d4d solid;
}

.style-title{
    font-family: var(--secondary-font);
    text-align: center;
    color: #2c2c2c;
    font-weight: bold;
    margin: 0.5rem auto 0 auto;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.styleEdit{
    padding: 0.8rem;
}

.styleEdit li{
    border-bottom: 1px solid #728191;
}

.style-name{
    margin: 0.6rem 0 0.2rem 0;
    color: #728191;
    font-weight: bold;
    font-size: 0.9em;
    font-family: var(--secondary-font);
    line-height: 100%;
    text-transform: capitalize;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    position: relative;
}

.remove-style{
    position: absolute;
    right: 0;
    top: calc(50% - 7px);
    font-size: 1.5em;
    color: #2c2c2c;
}

.remove-style:hover{
    color: red;
    cursor: pointer;
}

.style-content{
    height: 1.4rem;
    margin: 0.5rem 0 0.8rem 0;
    padding: 0 0.2rem;
    font-size: 0.9em;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    font-family: var(--text-font);
}

.style-content:hover{
    outline: 1px #8f8f8f solid;
}

.style-content:focus{
    text-decoration: underline 2px #728191 dashed;
    color: blue;
    box-sizing: border-box;
    outline: 1px #5f5f5f solid;
}

.window-right i{
    font-size: 2em;
    color: #728191;
    text-align: center;
    transition: all 0.1s;
    position: relative;
    width: 2.3rem;
    height: 2.3rem;
    margin: 1rem calc(50% - 1.15rem);
    border-radius: 50%;
}

.window-right i:hover{
    font-size: 2.3em;
    cursor: pointer;
}

#settings-modal{
    background-color: rgba( 0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 150;
    position: fixed;
    top: -100%;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

#settings-modal h3{
    font-family: var(--primary-font);
    font-weight: normal;
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 1.5em;
    font-weight: bold;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #76a9db;
}

#settings-modal-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 32rem;
    width: 30rem;
    padding: 0 3rem;
    background-color: whitesmoke;
    border-radius: 5px;
    position: relative;
    top: -100%;
    -webkit-transition: top 400ms ease-in-out;
    -moz-transition: top 400ms ease-in-out;
    transition: top 400ms ease-in-out;
}

#settings-modal-close-icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5em;
    color: #5692CD;
    font-weight: bold;
}

#settings-modal-close-icon:hover{
    cursor: pointer;
    color: #778899;
}

#settings-form h3{
    position: unset;
    font-size: 1.2rem;
    font-family: var(--secondary-font);
    text-align: center;
    color: #2c2c2c;
    font-weight: bold;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#project-description-container textarea{
    max-width: 24rem;
    min-width: 24rem;
    min-height: 6rem;
    max-height: 12rem;
    padding: 0.3rem 0.5rem;
    font-family: var(--text-font);
    font-size: 0.8em;
    transition: none;
}

#settings-modal-button{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 8rem;
    height: 2rem;
    margin-top: 2rem;
    font-size: 1em;
    background-color: #5692CD;
    border: none;
    border-radius: 2.5rem;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: var(--text-font);
    font-weight: 500;
    margin-left: calc(100% - 12rem);
}

#settings-modal-button:hover{
    background-color: #76a9db;
    cursor: pointer;
}

#project-version-container{
    display: flex;
    align-items: center;
}

#project-version-container h3{
    font-size: 1em;
    line-height: 1rem;
    margin-top: 0.5rem;
    color: #868686;
    -webkit-user-select: unset;        
    -moz-user-select: unset;
    -ms-user-select: unset;
    user-select: unset;
}

#project-version-container span{
    text-decoration: underline;
}




#new-page-modal{ 
    background-color: rgba( 0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 150;
    position: fixed;
    top: -100%;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

#new-page-modal-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 32rem;
    width: 30rem;
    padding: 0 3rem;
    background-color: whitesmoke;
    border-radius: 5px;
    position: relative;
    top: -100%;
    -webkit-transition: top 400ms ease-in-out;
    -moz-transition: top 400ms ease-in-out;
    transition: top 400ms ease-in-out;
}

#new-page-modal-close-icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5em;
    color: #5692CD;
    font-weight: bold;
}

#new-page-modal-close-icon:hover{
    cursor: pointer;
    color: #778899;
}

#new-page-modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#new-page-modal-button{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 8rem;
    height: 2rem;
    margin-top: 2rem;
    font-size: 1em;
    background-color: #5692CD;
    border: none;
    border-radius: 2.5rem;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: var(--text-font);
    font-weight: 500;
    margin-left: calc(100% - 12rem);
}

#new-page-modal-button:hover{
    background-color: #76a9db;
    cursor: pointer;
}

#new-page-modal-content h3{
    font-family: var(--primary-font);
    font-weight: normal;
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 1.5em;
    font-weight: bold;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #76a9db;
}

#page-name-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

#page-name-container h3, #page-size-container h3{
    position: unset;
    font-size: 1.2rem;
    font-family: var(--secondary-font);
    text-align: center;
    color: #2c2c2c;
    font-weight: bold;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-input{
    width: 24rem;
    height: 2.5rem;
    font-size: 1em;
    padding: 0 0.5rem;
    background-color: transparent;
    transition: all 0.2s;
    outline: none;
    border: #778899 1px solid;
    margin: 0.5rem 0;
}

.text-input:focus{
    -webkit-box-shadow: 0px 0px 20px 3px #666666; 
    box-shadow: 0px 0px 20px 3px #666666;
}

.radio-input-container{
    width: 100%;
    margin-right: auto;
    margin-top: 0.5rem;
}

.radio-input-container label{
    font-size: 1em;
    color: black;
    font-family: var(--text-font);
    cursor: pointer;
}

.radio-input{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

#page-size-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 24rem;
    padding: 0 1rem;
}

#page-size-in-pixels{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}

.set-size{
    align-items: center;
    width: 48%;
}

.set-size input{
    background-color: #e2e2e2;
    transition: all 0.2s;
    cursor: not-allowed;
    width: 100%;
    height: 2rem;
    font-size: 1em;
}

.set-size label{
    font-size: 1em;
    font-family: var(--text-font);
    margin: 0 0.3rem;
}

.set-size i{
    font-size: 1.2em;
    color: #2c2c2c;
}

body.dragging, body.dragging * {
    cursor: move !important;
}
  
.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.vertical {
    margin: 0 0 9px 0;
    min-height: 10px; 
}

ol.vertical li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee; 
}
    
ol.vertical li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none; 
}
      
ol.vertical li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none; 
}

ol.cElementos li {
    list-style-type: none;
}

#new-property-modal{
    background-color: rgba( 0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 150;
    position: fixed;
    top: -100%;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

#new-property-modal-content{
    display: flex;
    align-items: center;
    padding: 4.5rem 2rem 2rem 2rem;
    background-color: whitesmoke;
    border-radius: 5px;
    position: relative;
    top: -100%;
    -webkit-transition: top 400ms ease-in-out;
    -moz-transition: top 400ms ease-in-out;
    transition: top 400ms ease-in-out;
}

#new-property-modal-close-icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5em;
    color: #5692CD;
    font-weight: bold;
}

#new-property-modal-close-icon:hover{
    cursor: pointer;
    color: #778899;
}

#new-property-modal-content h3{
    font-family: var(--primary-font);
    font-weight: normal;
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 1.5em;
    font-weight: bold;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #76a9db;
}

#new-property-left{
    height: 25rem;
    width: 16rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

#search-bar-property-container{
    display: flex;
    margin-bottom: 0.5rem;
}

#search-bar-property-container h3{
    position: unset;
    top: 0;
    left: 0;
    font-family: var(--secondary-font);
    font-size: 1em;
    color: #2c2c2c;
    height: 1.6rem;
    line-height: 1.6rem;
    flex: 1;
}

#search-property{
    width: 11rem;
    margin-left: 0.5rem;
    outline: none;
    height: 1.6rem;
    font-size: 1em;
    padding: 0 0.2rem;
}

.list-button-line{
    width: 100%;
}

.list-button-line:hover{
    background-color: #d6d6d6;
}

.propertyButton{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px #2c2c2c solid;
    padding: 0.3rem;
    font-size: 1em;
    text-align: left;
    background-color: transparent;
    cursor: pointer;
}

.syntax-container{
    width: 100%;
    font-size: 0.9em;
    color: #616161;
    margin-top: 0.2rem;
    cursor: default;
}

#property-list{
    width: 100%;
    flex: 1;
    border-radius: 3px;
    border: #2c2c2c 1px solid;
    overflow: auto;
}

#new-property-right{
    height: 25rem;
    width: 20rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#new-property-right h3{
    position: unset;
    top: 0;
    left: 0;
    font-family: var(--secondary-font);
    font-size: 1.2em;
    color: #2c2c2c;
    margin-bottom: 0.2rem;
}

#other-property-container{
    display: flex;
}

#other-property-container h3{
    position: unset;
    top: 0;
    left: 0;
    font-family: var(--secondary-font);
    font-size: 1em;
    color: #2c2c2c;
    height: 1.6rem;
    line-height: 1.6rem;
    flex: 1;
}

#other-property{
    width: 11rem;
    margin-left: 0.5rem;
    outline: none;
    height: 1.6rem;
    font-size: 1em;
    padding: 0 0.2rem;
}

#new-property-arguments-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 23rem;
    margin-bottom: 3rem;
}

#new-property-arguments{
    max-width: 100%;
    min-width: 100%;
    max-height: 18.5rem;
    min-height: 10rem;
    outline: none;
}

#new-property-modal-button{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 1rem;
    width: 8rem;
    height: 2rem;
    font-size: 1em;
    background-color: #5692CD;
    border: none;
    border-radius: 2rem;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: var(--text-font);
    font-weight: 500;
}

#new-property-modal-button:hover{
    background-color: #76a9db;
    cursor: pointer;
}

#new-style-modal{
    background-color: rgba( 0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 150;
    position: fixed;
    top: -100%;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

#new-style-modal-content{
    display: flex;
    align-items: center;
    padding: 4.5rem 2rem 2rem 2rem;
    background-color: whitesmoke;
    border-radius: 5px;
    position: relative;
    top: -100%;
    -webkit-transition: top 400ms ease-in-out;
    -moz-transition: top 400ms ease-in-out;
    transition: top 400ms ease-in-out;
}

#new-style-modal-close-icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5em;
    color: #5692CD;
    font-weight: bold;
}

#new-style-modal-close-icon:hover{
    cursor: pointer;
    color: #778899;
}

#new-style-modal-content h3{
    font-family: var(--primary-font);
    font-weight: normal;
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 1.5em;
    font-weight: bold;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #76a9db;
}

#new-style-left{
    height: 25rem;
    width: 16rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

#search-bar-style-container{
    display: flex;
    margin-bottom: 0.5rem;
}

#search-bar-style-container h3{
    position: unset;
    top: 0;
    left: 0;
    font-family: var(--secondary-font);
    font-size: 1em;
    color: #2c2c2c;
    height: 1.6rem;
    line-height: 1.6rem;
    flex: 1;
}

#search-style{
    width: 11rem;
    margin-left: 0.5rem;
    outline: none;
    height: 1.6rem;
    font-size: 1em;
    padding: 0 0.2rem;
}

#style-list{
    width: 100%;
    flex: 1;
    border-radius: 3px;
    border: #2c2c2c 1px solid;
    overflow: auto;
}

.list-button-line{
    width: 100%;
}

.list-button-line:hover{
    background-color: #d6d6d6;
}

.styleButton{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px #2c2c2c solid;
    padding: 0.3rem;
    font-size: 1em;
    text-align: left;
    background-color: transparent;
    cursor: pointer;
}

.syntax-container{
    width: 100%;
    font-size: 0.9em;
    color: #616161;
    margin-top: 0.2rem;
    cursor: default;
}

#new-style-right{
    height: 25rem;
    width: 20rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#new-style-right h3{
    position: unset;
    top: 0;
    left: 0;
    font-family: var(--secondary-font);
    font-size: 1.2em;
    color: #2c2c2c;
    margin-bottom: 0.2rem;
}

#new-style-arguments-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 23rem;
    margin-bottom: 3rem;
}

#new-style-arguments{
    max-width: 100%;
    min-width: 100%;
    max-height: 20.5rem;
    min-height: 10rem;
    outline: none;
}

#new-style-modal-button{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 1rem;
    width: 8rem;
    height: 2rem;
    font-size: 1em;
    background-color: #5692CD;
    border: none;
    border-radius: 2rem;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: var(--text-font);
    font-weight: 500;
}

#new-style-modal-button:hover{
    background-color: #76a9db;
    cursor: pointer;
}

body {
    overflow: hidden;
}
#option input[type='checkbox'] {
    position: absolute;
    z-index: 1000;
    display: none;
}

* {
    user-select: none;
}

#option {
    margin: 0 auto;
    position: absolute;
    bottom: 4rem;
    right: 4%;
}

.btnT {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
}

.btnT {
    background: #2c2c2C;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
}

.btnT:not(:first-child) {
    opacity: 0;
    z-index: -2;
    transition: all .3s cubic-bezier(.87, -.41, .19, 1.44);
}

.btnT:nth-child(2) {
    top: 0;
    transition-delay: 0s
}

.btnT:nth-child(3) {
    top: 0;
    left: 0;
    transition-delay: .1s
}

.btnT:nth-child(4) {
    top: 0;
    transition-delay: 0.2s
}

input#toggle:checked ~ #show-menu .btnT:nth-child(2) {
    top: -3rem;
    opacity: 1;
}

input#toggle:checked ~ #show-menu .btnT:nth-child(3) {
    top: -3rem;
    left: -3rem;
    opacity: 1;
}

input#toggle:checked ~ #show-menu .btnT:nth-child(4) {
    left: -3rem;
    opacity: 1;
}

.menuBtn, .closeBtn {
    position: absolute;
    transition: all 0.3s ease;
}

.closeBtn {
    transform: translateY(50px);
    opacity: 0;
}

.btnT i {
    font-size: 1.3rem;
    color: #fff;
}

.btnT:hover i{
    font-size: 1.6rem;
}

input#toggle:checked ~ #show-menu .btnT .menuBtn {
    transform: translateY(-50px);
    opacity: 0;
}

input#toggle:checked ~ #show-menu .btnT .closeBtn {
    transform: translateY(0px);
    opacity: 1;
}

.btnT {z-index: 1111;}

#show-menu:hover {
    cursor: pointer;
}