body{
    position: relative;
    display: flex;
    min-height: 100vh;
    background-color: whitesmoke;
}

#logo-wrapper{
    height: 5rem;
    top: 1.5rem;
    left: 1.5rem;
    position: absolute;
    margin: 0;
}

#logo-wrapper img{
    height: 100%;
}

#contact-wrapper{
    top: 1.5rem;
    right: 1.5rem;
    position: absolute;
    padding: 0.5rem;
}

#contact-wrapper{
    top: 1.5rem;
    right: 1.5rem;
    position: absolute;
    padding: 0.5rem;
}

#contact-wrapper button{
    text-align: center;
    padding: 0.5rem 1.5rem;
    font-size: 1.1em;
    border-radius: 5px;
    border: solid 1.5px #FFFFFF;
    background-color: #5692CD;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: var(--primary-font);
    font-weight: 400;
}

#contact-wrapper a{
    text-decoration: none;
    color: #FFFFFF;
}

#container{
    background-color: #FFFFFF;
    width: 32rem;
    height: 100vh;
    margin: auto;
    -webkit-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.56);
    box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.56);
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-wrapper h1{
    color: #5692CD;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 2.2em;
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

#content-wrapper p{
    font-family: var(--text-font);
    font-size: 1.2em;
    color: #778899;
    text-align: center;
    margin: 1rem 3rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#input-container{
    display: flex;
    background-color: #E5EBF3;
    margin: 0.5rem auto;
    width: 22rem;
}

#input-icon-wrapper{
    width: 2.5rem;
    text-align: center;
}

#input-icon-wrapper i{
    padding: 1rem 0;
    font-size: 1.2rem;
    color: #778899;
}

input{
    display: block;
    padding: 0.5rem 0.5rem 0.5rem 0;
    font-size: 1.2em;
    outline: none;
    background-color: transparent;
    color: #778899;
    border: none;
    width: 100%;
}

form button{
    display: block;
    width: 10rem;
    text-transform: uppercase;
    padding: 0.5rem;
    margin: 1.5rem auto 0 auto;
    border: 0;
    border-radius: 5rem;
    background-color: #5692CD;
    color: #FFFFFF;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1.2rem;
    outline: none;
    transition: background-color 0.2s;
}

form button:hover{
    background-color: #76a9db;
    cursor: pointer;
}